[Desktop Entry]
Type=Application
Name=Applications (Bearhub tray)
Name[pt]=Aplicativos (Bearhub tray)
Name[es]=Aplicaciones (Bearhub tray)
Name[ca]=Aplicacions (Bearhub tray)
Name[it]=Applicazioni (Bearhub tray)
Name[de]=Anwendungen (Bearhub tray)
Name[ru]=Приложения (Bearhub tray)
Name[tr]=Paket Yönetici (Bearhub tray)
Categories=System;
Comment=Install and remove applications (AppImage, Arch, Flatpak, Web)
Comment[pt]=Instale e remova aplicativos (AppImage, Arch, Flatpak, Web)
Comment[es]=Instalar y eliminar aplicaciones (AppImage, Arch, Flatpak, Web)
Comment[it]=Installa e rimuovi applicazioni (AppImage, Arch, Flatpak, Web)
Comment[de]=Anwendungen installieren und entfernen (AppImage, Arch, Flatpak, Web)
Comment[ca]=Instal·lar i eliminar aplicacions (AppImage, Arch, Flatpak, Web)
Comment[ru]=Установка и удаление приложений (AppImage, Arch, Flatpak, Web)
Comment[tr]=Uygulama yükle/kaldır (AppImage, Arch, Flatpak, Web)
Exec=/usr/bin/bearhub-tray
Icon=bearhub

