pkgbase = bearhub
	pkgdesc = Arch-first package manager hub (community-maintained fork of bauh)
	pkgver = 0.10.8
	pkgrel = 1
	url = https://github.com/spalencsar/bearhub
	arch = any
	license = ZLIB
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-pyqt5
	depends = python-requests
	depends = python-colorama
	depends = python-pyyaml
	depends = python-dateutil
	depends = qt5-svg
	depends = hicolor-icon-theme
	optdepends = python-lxml: web application support
	optdepends = python-beautifulsoup4: web application support
	optdepends = flatpak: flatpak support
	optdepends = appimagekit: appimage support
	provides = bearhub
	provides = bauh
	conflicts = bearhub-git
	conflicts = bauh
	conflicts = bauh-git
	source = bearhub-0.10.8-bearhub.1.tar.gz::https://github.com/spalencsar/bearhub/archive/refs/tags/0.10.8-bearhub.1.tar.gz
	sha256sums = SKIP

pkgname = bearhub
