[Desktop Entry]
Type=Application
Name=Applications (Bearhub)
Name[pt]=Aplicativos (Bearhub)
Name[es]=Aplicaciones (Bearhub)
Name[ca]=Aplicacions (Bearhub)
Name[it]=Applicazioni (Bearhub)
Name[de]=Anwendungen (Bearhub)
Name[ru]=Приложения (Bearhub)
Name[tr]=Paket Yönetici (Bearhub)
Categories=System;
Comment=Install and remove applications (AppImage, Arch, Flatpak, Web)
Comment[pt]=Instale e remova aplicativos (AppImage, Arch, Flatpak, Web)
Comment[es]=Instalar y eliminar aplicaciones (AppImage, Arch, Flatpak, Web)
Comment[it]=Installa e rimuovi applicazioni (AppImage, Arch, Flatpak, Web)
Comment[de]=Anwendungen installieren und entfernen (AppImage, Arch, Flatpak, Web)
Comment[ca]=Instal·lar i eliminar aplicacions (AppImage, Arch, Flatpak, Web)
Comment[ru]=Установка и удаление приложений (AppImage, Arch, Flatpak, Web)
Comment[tr]=Uygulama yükle/kaldır (AppImage, Arch, Flatpak, Web)
Exec=env QT_QPA_PLATFORM=xcb /usr/bin/bearhub
Icon=bearhub
